header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: #F5F6F7; 
  padding: 10px; 
  z-index: 100;
  text-align: center;
}

body{
  background-color: #F5F6F7 !important;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: #F5F6F7;
  color: #fff;
  padding: 10px;
  text-align: center;
}
