header{
  width: 100vw;
  height: 15vh;
  background-color: #F5F6F7; 
  padding: 10px; 
  z-index: 100;
  text-align: center;
}

body{
  background-color: #F5F6F7 !important;
  width: 100wh;
  
}
.card-container{
  width: 18rem;
  margin: 10px;
}

footer{
  width: 100vw;
  height: 10vh;
  background-color: #F5F6F7;
  color: #fff;
  padding: 10px;
  text-align: center;
}
